@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

$background: #0c122c;
$primary-color: #1e2d69;
$paragraph-text: #dbd9ff;
$helper-text: #848794;
$font-weigth-normal: 400;
$font-weigth-bold: 700;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  color: $paragraph-text;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: $font-weigth-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
  background-image: url(/images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}

.actions {
  background-color: $primary-color;
  width: 100%;
  max-width: 540px;
  height: 200px;
  margin-bottom: 16px;
  border-radius: 10px 100px 10px 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 33px;
  }
}
.icon {
  background-color: $background;
  height: 100%;
  width: 48px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-right: 16px;
}

.storage {
  width: 100%;
  max-width: 540px;
  height: calc(100% - 47px);
  background-color: $primary-color;
  border-radius: 10px;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  span {
    font-weight: $font-weigth-bold;
  }
}

.bar {
  background-color: $background;
  border-radius: 10px;
  height: 20px;
  margin-bottom: 8px;
  margin-top: 16px;
  padding: 3px;
}
.used {
  background: linear-gradient(90deg, #ffa197 0%, #ff4a95 100%);
  border-radius: 8px;
  height: 100%;
  width: 81.5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2px;
}

.oval {
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 9999px;
}

.minmax {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.left {
  padding-bottom: 20px;
  position: absolute;
  top: 80%;
  align-self: center;
  > div:first-child {
    color: $helper-text;
    font-weight: $font-weigth-bold;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 75px 100px rgba(0, 0, 0, 0.24776);
    padding: 16px 24px;
    display: flex;
    align-items: center;
    span:first-child {
      font-size: 40px;
      color: $background;
      margin-right: 9px;
    }
    span:not(:first-child) {
      font-size: 12px;
      letter-spacing: 1px;
      vertical-align: middle;
    }
  }
}
.corner {
  display: none;
}

@media (min-width: 1440px) {
  body {
    background-image: url(/images/bg-desktop.svg);
    background-position: bottom;
    background-size: 100% 50%;
  }
  .container {
    flex-direction: row;
    align-items: flex-end;
  }
  .actions {
    background-color: $primary-color;
    width: 350px;
    height: 200px;
    margin-bottom: 0;
    margin-right: 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .left {
    top: -52px;
    right: 40px;
    > div:first-child {
      border-radius: 10px 10px 0px 10px;
    }
  }
  .corner {
    display: flex;
    justify-content: flex-end;
    > div {
      box-shadow: 0px 75px 100px rgba(0, 0, 0, 0.24776);
      background-color: white;
      height: 22px;
      width: 22px;
      clip-path: polygon(100% 0, 0 0, 100% 100%);
    }
  }
}
