@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

$background: #0c122c;
$primary-color: #1e2d69;
$paragraph-text: #dbd9ff;
$helper-text: #848794;
$font-weigth-normal: 400;
$font-weigth-bold: 700;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  color: $paragraph-text;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: $font-weigth-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
  background-image: url(/images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.actions {
  background-color: $primary-color;
  width: 350px;
  height: 200px;
  margin-right: 30px;
  border-radius: 10px 100px 10px 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.icon {
  background-color: $background;
  height: 100%;
  width: 48px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-right: 16px;
}

.storage {
  width: 540px;
  height: calc(100% - 47px);
  background-color: $primary-color;
  border-radius: 10px;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  span {
    font-weight: $font-weigth-bold;
  }
}

.bar {
  background-color: $background;
  border-radius: 10px;
  height: 20px;
  margin-bottom: 8px;
  padding: 3px;
}
.used {
  background: linear-gradient(90deg, #ffa197 0%, #ff4a95 100%);
  border-radius: 8px;
  height: 100%;
  width: 81.5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2px;
}

.oval {
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 9999px;
}

.minmax {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.left {
  color: $helper-text;
  position: absolute;
  background-color: white;
  top: -47px;
  right: 40px;
  border-radius: 10px 10px 0px 10px;
  padding: 0px;
  p {
    font-size: 12px;
    letter-spacing: 1px;
  }
  span {
    font-weight: $font-weigth-bold;
    font-size: 40px;
    color: $background;
    vertical-align: middle;
    margin-right: 9px;
  }
}

@media (min-width: 1000px) {
  body {
    background-image: url(/images/bg-desktop.svg);
    background-position: bottom;
    background-size: 100% 50%;
  }
  .container {
    flex-direction: row;
  }
}
